body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#pinterest-card {
  width: 350px;
  height: 500px;
  position: relative;
  margin: auto;
  top: 12vh;
  border-radius: 30px;
  overflow: hidden;
}

#pinterest-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#pinterest-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: none;
  transition: all 1s;
}

#pinterest-card:hover #pinterest-card-overlay {
  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}

#pinterest-card-btn-top {
  user-select: none;
  margin: 30px;
  position: absolute;
  top: -100px;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  width: 120px;
  height: 80px;
  background-color: #e60223;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

#pinterest-card-btn-save {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

#pinterest-card-btn-bottom {
  position: absolute;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  user-select: none;
  bottom: -100px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  transition: transform 1s;
  height: 50px;
}

#pinterest-card-btn-link {
  flex: 3;
  background-color: white;
  border-radius: 40px;
  margin-right: 10px;
  font-size: 22px;
  padding: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#pinterest-card-btn-link i {
  font-size: 20px;
  margin-right: 3px;
  margin-left: 5px;
}

#pinterest-card-btn-link div {
  display: inline;
  font-weight: bold;
}

#pinterest-card-btn-share {
  background-color: white;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pinterest-card-btn-more {
  background-color: white;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fi-bs-arrow-up-right {
  color: black;
  display: inline-block;
}

#pinterest-card:hover #pinterest-card-btn-top {
  transform: translateY(100px);
}

#pinterest-card:hover #pinterest-card-btn-bottom {
  transform: translateY(-100px);
}

.fa-arrow-up-from-bracket,
.fa-ellipsis {
  font-size: 20px;
  font-weight: bold;
}
